.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.InputBox {
    width: 100%;
    height: 100%;
    margin: 2px;
    font-size: 12pt;
}

.Button {
    width: 32px;
    margin: 0px;
    align-self: stretch;
    line-height: 1;
}